ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  }
  .user-details {
    ion-thumbnail {
      min-width: 6rem;
      min-height: 6rem;
      --border-radius: 50%;
      margin: 1.250em;
      img {
        max-width: 6rem;
        min-width: 6rem;
      }
    }
    ion-label {
      h2 {
        font-size: 1em;
        font-weight: 600;
      }
      p {
        font-size: 0.875em;
      }
    }
  }
  
  .rating {
    margin-left: 1.875em;
    margin-right: 1.875em;
  }
  
  .rating-label {
    font-size: 1em;
        font-weight: 500;
  }
      .star {
        ion-icon {
          color: #fbc41c;
          font-size: 1.375em;
          padding: 0em 0.188em 0em 0em;
        }
      }
      .star-not-filled {
        ion-icon {
          color: #000000;
          opacity: 5%;
          font-size: 1.375em;
          padding: 0em 0.188em 0em 0em;
        }
      }
  id {
    margin-left: 1.875em;
    margin-right: 1.875em;
  }
  .message {
    display: flex;
    margin-top: 1em;
    margin-left: 1.875em;
    margin-right: 1.875em;
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    border-style: "solid";
    --background: #eeee;
    ion-label {
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
    }
    ion-input {
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
    }
  }
  .submit {
    margin: 1.875em;
    text-transform: none;
  }
  