.like {
  ion-icon {
    font-size: 1.5em;
    color: #a7a7a7;
  }
}
.my-custom-class {
  --background: #222;
}
ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
  ion-title {
    font-weight: 600;
  }
}
ion-content { 
  .title1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.250em;
    margin-top: 1.725em;
    color: var(--ion-color-primary);
  }
  .title3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.075em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    color: var(--ion-color-primary);
  }
  .labelcol {
    font-size: 1.125em;
    font-weight: 700;
  }
  .textcol {
    font-size: 1.025em;
    text-align: justify;
  }
  .product-content {
    margin: 1.50em 1.250em 0em 1.250em;
  }
  .product-content-close {
    margin: 0.5em 1.250em 0em 1.250em;
  }
  .reserve {
    --box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.361);
    --border-radius: 0.625em;
    width: 90%;
    height: 2.5em;
    text-transform: none;
    margin-top: 1.125em;
    margin-left: 1.250em;
    margin-bottom: 2.5em;
    --web-animation: fadein 0.4s ease-in-out;
  }
}
