.onboard-main {
  padding: 3% 5% 5% 5%;
  height: 0em;
  ion-slides {
    .swiper-pagination.swiper-pagination-bullets {
      left: auto !important;
      right: auto;
      text-align: left !important;
    }
    .swiper-pagination-bullet {
      opacity: 1;
    }
  }
  .onboard-top {
    margin-top: 5%;
    ion-button {
      text-transform: capitalize;
      font-size: 0.9rem;
    }
  }
}
.onboard-bot {
  ion-slides {
    padding-bottom: 12%;
  }
  .onb-img {
    margin: 1em 2.5em 1.5em 2.5em;
    img {
      width: 18.75em;
      height: 18.75em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h4 {
    font-size: 1.25rem;
    margin-bottom: 4%;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
  p {
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 1.563em;
  }
}
.navigation {
  box-shadow: 0em 1.250em 2.5em rgba(40, 59, 122, 0.302);
  text-transform: none;
  margin: 1.875em 4.375em 1.875em 4.375em;
  height: 2.813em;
}
