<ion-header>
  <ion-toolbar>
    <ion-title>{{product.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="currentUser.role == 1 || currentUser.role == 3">
      <ion-button size='small' fill='clear' [ngClass]='myFav(product.id) ? "liked" : "like"' (click)='favouriteProduct(product.id)'>
        <ion-icon slot='icon-only' name="heart"></ion-icon>
      </ion-button>
      <ion-button (click)='(presentPopover)($event)'>
        <ion-icon slot='icon-only' name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="products" pager='true'>
          <ion-slide *ngFor="let img of product.images">
            <img src='{{img}}' alt='' class="category">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="title1">
         {{product.name}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="title3">
          S${{product.price}}
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="4" class="labelcol">
         Category
      </ion-col>
      <ion-col size="8" class='textcol'>
        {{product.category}}
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="4" class="labelcol">
        Quantity
      </ion-col>
      <ion-col size="8" class='textcol'>
        {{product.qty}}
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="4" class="labelcol">
        Vendor
      </ion-col>
      <ion-col size="8" class='textcol'>
        <a class='text5' [routerLink]="['/seller-details', product.seller]">{{product.seller_un}}</a>
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="12" class="labelcol">
        Description
      </ion-col>
    </ion-row>
    <ion-row class="product-content-close">
      <ion-col size="12" class="textcol">
        {{product.description}}
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="12" class="labelcol">
        Delivery Mode
      </ion-col>
    </ion-row>
    <ion-row class="product-content-close">
      <ion-col size="12" class="textcol">
        <p *ngFor="let mode of product.deliveryMode"><ion-icon name="checkmark-outline"></ion-icon> {{mode}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="product-content">
      <ion-col size="12" class="labelcol">
        <ion-button expand='block' class='reserve' [routerLink]='["/reserve-product", product.id]' [disabled]="currentUser.username == '' || currentUser.role == 0 || currentUser.role == 2 || (currentUser.role == 3 && currentUser.email == product.seller)">
          Reserve
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="product-content">
      <ion-col size="12" class="labelcol">
        <ion-button expand='block' class='reserve' (click)='shareItem()'>
          Share
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
