ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    font-weight: 600;
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  }
  .empty {
    text-align: center;
    font-size: 1em;
    padding-top: 0.625em;
  }
  .avatar {
    display: block;
    border-radius: 50%;
    width: 8.688em;
    height: 8.688em;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .fullName {
    margin-top: 1.250em;
    text-align: center;
    font-size: 1.125em;
    font-weight: 600;
  }
  .userId {
    text-align: center;
    font-size: 1em;
  }
  .description {
    text-align: center;
    font-size: 1em;
  }
  .showRating {
    display: flex;
    justify-content: center;
    align-items: center;
    .star {
      ion-icon {
        color: #fbc41c;
        font-size: 1.375em;
        padding: 0.188em;
      }
    }
    .star-not-filled {
      ion-icon {
        color: #000000;
        opacity: 5%;
        font-size: 1.375em;
        padding: 0.188em;
      }
    }
    .ratingNo {
      position: relative;
      margin-left: 0.625em;
      margin-bottom: 0.313em;
      overflow: visible;
      width: 1.875em;
      white-space: nowrap;
      text-align: left;
      font-size: 1.125em;
      color: rgba(0, 0, 0, 1);
    }
  }
  ion-segment {
    margin-top: 1.250em;
  }
  ion-segment-button {
    text-transform: none;
    font-weight: 700;
  }
  .liked {
    margin: 0.938em;
    right: 0;
    color: var(--ion-color-primary);
    position: absolute;
    z-index: 99;
  }
  .like {
    margin: 0.938em;
    right: 0;
    color: #a7a7a7;
    position: absolute;
    z-index: 99;
  }
  ion-card {
    position: relative;
    border-radius: 0.625em;
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  
    ion-card-subtitle {
      font-weight: 700;
      font-size: 1em;
      color: var(--ion-color-primary);
    }
    ion-card-content {
      font-weight: 500;
    }
  }
  .writeComment {
    width: 17.5em;
    margin: 1.875em;
    text-transform: none;
    font-weight: 600;
    font-size: 0.875em;
    height: 2.5em;
    --background: white;
    --color: var(--ion-color-primary);
    --box-shadow: 0em 0.938em 1.875em rgba(40, 59, 122, 0.302);
    ion-icon {
      --ionicon-stroke-width: 2.5em;
      font-size: 2.5em;
      margin-right: 0.625em;
    }
  }
  .latestReview {
    margin-left: 1.875em;
    font-weight: 600;
    font-size:1.025em;
    color: var(--ion-color-primary);
  }
  .comment {
    margin: 1.875em;
    position: relative;
    ion-avatar {
      width: 3.125em;
      height: 3.125em;
    }
    ion-label {
      h2 {
        font-size:0.825em;
        font-weight: 600;
        color: var(--ion-color-primary);
      }
      .star {
        ion-icon {
          color: #fbc41c;
          font-size: 0.875em;
          padding: 0.125em;
        }    
      }
      .star-not-filled {
        ion-icon {
          color: #000000;
          opacity: 5%;
          font-size: 0.875em;
          padding: 0.125em;
        }
      }
      p {
        font-size: 0.7em;
      }
    }
    .delete {
      right: 0.625em;
      top: 0.313em;
      position: absolute;
      color: var(--ion-color-danger);
      ion-icon {
        font-size: 1.250em;
      }
    }
    .edit {
      right: 3.125em;
      position: absolute;
      top: 0.313em;
      ion-icon {
        font-size: 1.250em;
      }
    }
    .review-text {
      margin-left: 1.250em;
      margin-right: 1.250em;
      line-height: 1.438em;
      font-size: 0.875em;
    }
  }
  .view-more {
    align-content: center;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 1.875em;
  }
     