
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot='end'>
      <ion-button (click)='deleteAds()'>
        <ion-icon slot='icon-only' name='trash-outline'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Advertisement Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="adsForm">
    <img class='ads' src='./assets/ad_request.png' alt=''>
    
    <ion-item class='payment'>
      <ion-label>Advertisement Type</ion-label>
      <ion-select value='1' interface=popover formControlName="type">
        <ion-select-option value='1'>Event</ion-select-option>
        <ion-select-option value='2'>Seller Page</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class='message'>
      <ion-label>Info</ion-label>
      <ion-input inputmode="text" formControlName="info"></ion-input>
    </ion-item>
    <ion-item class='payment'>
      <ion-label>Payment Mode</ion-label>
      <ion-select value='PayLah' interface=popover formControlName="paymentMode">
        <ion-select-option value='PayLah'>Paylah</ion-select-option>
        <ion-select-option value='Cash'>Cash</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName="activeDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Expire on</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName="expireDate">
      </ion-datetime>
    </ion-item>
    <ion-item class='days'>
      <ion-label>Status</ion-label>
      <ion-select value='P' interface=popover formControlName="status" disabled>
        <ion-select-option value='P'>Pending</ion-select-option>
        <ion-select-option value='A'>Approved</ion-select-option>
        <ion-select-option value='R'>Rejected</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Requested on</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName="requestDate" disabled>
      </ion-datetime>
    </ion-item>
    <ion-item class='message'>
      <ion-label>Requester</ion-label>
      <ion-input inputmode="text" formControlName="requester" disabled></ion-input>
    </ion-item>
    <span class='banner'>
      <span class='banner-word'>
        Banner
      </span>
      <span>
        <ion-button class='add-image' size='small' fill='clear' (click)='presentActionSheet()'>
          <ion-icon slot='icon-only' name="add-circle-outline"></ion-icon>
        </ion-button>
      </span>
    </span>
    <div class="marginBox">
    <ion-button size='small' fill='clear' class="like" (click)='removeNewImage()' *ngIf="imgpath != ''">
      <ion-icon slot='icon-only' name="close-outline"></ion-icon>
    </ion-button>
    <img src='{{imgpath}}' alt='' class="banner-image" *ngIf="imgpath != ''">
    
    <ion-button size='small' fill='clear' class="like" (click)='removeImage()' *ngIf="image != ''">
      <ion-icon slot='icon-only' name="close-outline"></ion-icon>
    </ion-button>
    <img src='{{image}}' alt='' class="banner-image" *ngIf="image != ''">
    </div>
    <ion-button class='submit' expand='block' (click)='updateAds()'>Update</ion-button>
  </form>
</ion-content>