<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen='true'>
  <form [formGroup]="productForm">
  <img class='add-product' src='./assets/add_product.png' alt=''>
  <div>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
  </div>
  <ion-item class='message'>
    <ion-label position='floating'>Description</ion-label>
    <ion-textarea rows='10' inputmode="text" formControlName="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" min="1" step="1" formControlName="qty"></ion-input>
  </ion-item> 
  <ion-item class='category'>
    <ion-label>Category</ion-label>
    <ion-select value='categories != null ? categories[0].name: ""' interface=popover formControlName="category">
      <ion-select-option *ngFor="let c of categories" [value]="c.name">{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="number" min="0.1" formControlName="price"></ion-input>
  </ion-item>
  <ion-item class='category'>
    <ion-label>Delivery Mode</ion-label>
    <ion-select multiple="true" value='modes != null ? modes[0].name: ""' formControlName="deliveryMode">
      <ion-select-option *ngFor="let d of modes" [value]="d.name">{{d.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines='none' class='toggle' *ngIf="specialEvent.active">
    <ion-label>{{specialEvent.name}}</ion-label>
    <ion-toggle formControlName="specialevent"></ion-toggle>
  </ion-item>
  <span class='images'>
    <span class='image-name'>
      Images
    </span>
    <span>
      <ion-button class='add-image' size='small' fill='clear' (click)='presentActionSheet()'>
        <ion-icon slot='icon-only' name="add-circle-outline"></ion-icon>
      </ion-button>
    </span>
  </span>
  <ion-grid class='images-grid'>
    <ion-row>
      <ion-col size="6" *ngFor="let i of imgpath; let id = index">
        <ion-button size='small' fill='clear' class="like" (click)='removeNewImage(id)'>
          <ion-icon slot='icon-only' name="close-outline"></ion-icon>
        </ion-button>
        <img [src]="i" alt=''>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class='submit' expand='block' (click)="addProduct()">Submit</ion-button>
  </form>
</ion-content>


<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen='true'>
  <form [formGroup]="productForm">
  <img class='add-product' src='./assets/add_product.png' alt=''>
  <div>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
  </div>
  <ion-item class='message'>
    <ion-label position='floating'>Description</ion-label>
    <ion-textarea rows='10' inputmode="text" formControlName="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" min="1" step="1" formControlName="qty"></ion-input>
  </ion-item>
  <ion-item class='category'>
    <ion-label>Category</ion-label>
    <ion-select value='categories != null ? categories[0].name: ""' interface=popover formControlName="category">
      <ion-select-option *ngFor="let c of categories" [value]="c.name">{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="number" min="0.1" formControlName="price"></ion-input>
  </ion-item>
  <ion-item class='category'>
    <ion-label>Delivery Mode</ion-label>
    <ion-select multiple="true" value='modes != null ? modes[0].name: ""' formControlName="deliveryMode">
      <ion-select-option *ngFor="let d of modes" [value]="d.name">{{d.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines='none' class='toggle' *ngIf="specialEvent.active">
    <ion-label>{{specialEvent.name}}</ion-label>
    <ion-toggle formControlName="specialevent"></ion-toggle>
  </ion-item>
  <span class='images'>
    <span class='image-name'>
      Images
    </span>
    <span>
      <ion-button class='add-image' size='small' fill='clear' (click)='presentActionSheet()'>
        <ion-icon slot='icon-only' name="add-circle-outline"></ion-icon>
      </ion-button>
    </span>
  </span>
  <ion-grid class='images-grid'>
    <ion-row>
      <ion-col col-6>
        <img src='../assets/iphone.jpg' alt=''>
      </ion-col>
      <ion-col col-6>
        <img src='../assets/iphone-product.jpg' alt=''>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class='submit' expand='block' (click)="addProduct()">Submit</ion-button>
  </form>
</ion-content>-->