ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
  ion-title {
    font-weight: 600;
  }
}
.highlighted {
  --background: var(--ion-color-primary);
  --color: white;
}
.highlightedR {
  --background: var(--ion-color-danger);
  --color: white;
}
.search-content {
  margin-left: 0.625em;
  width: 95%;
  ion-list-header {
    font-size: 1.125em;
    margin-top: 1.250em;
    font-weight: 500;
  }
  h3 {
    font-size: 1.250em;
    font-weight: 700;
    color: var(--ion-color-primary);
  }
  ion-searchbar {
    margin: 0;
    --background: rgba(0, 0, 0, 0.047);
    --border-radius: 0.938em;
    --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
  }
  ion-chip {
    padding: 0.938em;
  }
  .search-result {
    ion-thumbnail {
      --border-radius: 0.625em;
      width: 5em;
      height: 5em;
    }
    h4 {
      font-size: 1.125em;
      font-weight: 700;
    }
    p {
      font-size: 0.875em;
    }
  }
}
