ion-toolbar {
  --background: var(--ion-color-primary);
  box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  color: white;
}
ion-searchbar {
  margin-left: 1.250em;
  margin-top: 1.250em;
  right: 1.250em;
  --background: rgba(0, 0, 0, 0.047);
  --border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
}
.empty {
  text-align: center;
  font-size: 1em;
}
.filter {
  --color: var(--ion-color-primary);
  --background: white;
  text-transform: none;
  font-weight: 600;
  font-size: 0.875em;
  margin-top: 1.563em;
  height: 2.688em;
  border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
  right: 0.625em;
  position:absolute;
}
ion-card {
  margin: 1.250em;
  position: relative;
  border-radius: 0.625em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  ion-avatar {
    width: 4.375em;
    height: 4.375em;
  }
  ion-label {
    h2 {
      font-weight: 700;
      color: var(--ion-color-primary);
    }
    h3 {
      font-weight: 600;
      margin-top: 0.625em;
      margin-bottom: 0.625em;
    }
    h5 {
      margin-top: 0.313em;
    }
    p {
      font-size: 0.625em;
    }
  }
  .delete {
    right: 0.625em;
    top: 0.313em;
    position: absolute;
    color: var(--ion-color-danger);
    ion-icon {
      font-size: 1.250em;
    }
  }
  .accept {
    right: 3.125em;
    position: absolute;
    top: 0.313em;
    ion-icon {
      font-size: 1.250em;
    }
  }
}
