<ion-header>
  <ion-toolbar>
    <ion-title>Add Announcement </ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="announcementForm">
    <img src='../assets/announcement.png' alt=''>

    <ion-item class='title'>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item class='message'>
      <ion-label position='floating'>Message</ion-label>
      <ion-textarea rows='10' inputmode="text" formControlName="message"></ion-textarea>
    </ion-item>

    <ion-item class='category'>
      <ion-label>Category</ion-label>
      <ion-select value='1' interface=popover formControlName="category">
        <ion-select-option value='1'>Promotion</ion-select-option>
        <ion-select-option value='2'>Others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class='submit' expand='block' (click)='addAnnouncement()'>Send</ion-button>
  </form>
</ion-content>