<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <form [formGroup]="chatsForm">
    <ion-row>
  <ion-col>
    <ion-searchbar placeholder='Search' formControlName='search'></ion-searchbar>
  </ion-col>
  </ion-row>
  <ion-list lines='none' class="animate__animated animate__slideInUp">
    <ion-item *ngFor="let chat of chatsF; let id = index" (click)="markAsRead(id)" [routerLink]='["/chat-details", chat.id]'>
      <ion-avatar slot="start">
        <img src="{{chat.buyer == adminEmail  && currentUser.role != 0 ? fsService.adminImage: (chat.image == ''? fsService.blankImage : chat.image)}}">
      </ion-avatar>
      <ion-label>
        <div>
          <span [ngClass]='chat.notRead ? "bold" : "title"'>{{chat.buyer == adminEmail ? (chat.buyer == currentUser.email ? chat.seller_un : "Admin Chat"): (chat.seller == currentUser.email ? chat.productName + " - " + chat.buyer_un: chat.productName + " - " + chat.seller_un)}}</span>
          <span class='timing'>{{chat.messages == null ? '': chat.messages[chat.messages.length-1].date.toDate() | date:'dd-MM-yyyy, HH:mm'}}</span>
        </div>
        <p [ngClass]='chat.notRead ? "message bold" : "message"'>{{chat.messages == null ? '': chat.messages[chat.messages.length-1].text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  </form>
  </ion-grid>
</ion-content>