<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <ion-segment (ionChange)="segmentChanged($event)" value='promotion'>
    <ion-segment-button value="promotion">
      <ion-label>Promotion</ion-label>
    </ion-segment-button>
    <ion-segment-button value='others'>
      <ion-label>Others</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class='animate__animated animate__slideInUp' *ngIf="segment === 'promotion'">
    <ion-card *ngFor="let a of announcements1">
      <ion-card-header>
        <ion-card-title>{{a.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          {{a.message}}
        </p>
        <ion-card-subtitle class='timing'>{{a.date.toDate() | date:'dd MMM yyyy, h:mm:ss a'}}</ion-card-subtitle>
      </ion-card-content>

      <ion-button size='small' fill='clear' class='delete' *ngIf="currentUser.isAdmin" (click)="deleteAnnouncement(a.id)">
        <ion-icon slot='icon-only' name="trash-outline"></ion-icon>
      </ion-button>

    </ion-card>
  </div>

  <div class='animate__animated animate__slideInUp' *ngIf="segment === 'others'">
    <ion-card *ngFor="let a of announcements2">
      <ion-card-header>
        <ion-card-title>{{a.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          {{a.message}}
        </p>
        <ion-card-subtitle class='timing'>{{a.date.toDate() | date:'dd MMM yyyy, h:mm:ss a'}}</ion-card-subtitle>
      </ion-card-content>

      <ion-button size='small' fill='clear' class='delete' *ngIf="currentUser.isAdmin" (click)="deleteAnnouncement(a.id)">
        <ion-icon slot='icon-only' name="trash-outline"></ion-icon>
      </ion-button>

    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-announcement']" *ngIf="currentUser.isAdmin">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>