ion-toolbar {
  --background: var(--ion-color-primary);
  box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  color: white;
}
ion-searchbar {
  margin-left: 1.250em;
  margin-top: 0.625em;
  right: 1.250em;
  --background: rgba(0, 0, 0, 0.047);
  --border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
}
ion-list {
  margin-top: 0.625em;
}
ion-avatar {
  width: 2.813em;
  height: 2.813em;
}
ion-label {
  .title {
    font-weight: 500;
    font-size: 0.875em;
  }
  .timing {
    font-size: 0.688em;
    margin-left: 1.875em;
    float:right;
  }
  .message {
    margin-top: 0.313em;
    font-size: 0.875em;
  }
}

.bold {
  font-weight: 700;
  font-size: 0.875em;
  color: var(--ion-color-primary);
}

