ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
  box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
}
img {
  margin: 1.250em;
  width: 90%;
}
.special-event {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 1.875em;
  margin-right: 1.875em;
  border-radius: 0.625em 0.625em 0.625em 0.625em;
  border-style: "solid";
  --background: #eeee;
  ion-label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875em;
  }
  ion-input {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875em;
  }
}
.submit {
  margin: 1.875em;
  text-transform: none;
}
.toggle {
  float: right;
  margin-top: 0.625em;
  margin-bottom: 3.125em;
}
