@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:host ::ng-deep ion-title {
  font-weight: 600;
  font-size: 1.125em;
}

.menu-header-bg {
  height:13.125em;
  width:21.875em;
  background: var(--ion-color-primary);
  border-bottom-left-radius:3.5em;
  border-bottom-right-radius: 4.563em;
  margin-left: -1.125em;
  margin-top: -3.125em;
  margin-bottom: 1.250em;
}

.menu-header-bg-not {
  height:13.125em;
  width:21.875em;
  background: var(--ion-color-primary);
  border-bottom-left-radius:3.5em;
  border-bottom-right-radius: 4.563em;
  margin-left: -1.125em;
  margin-top: -3.125em;
  margin-bottom: 1.250em;
}

.header-content {
  position: absolute;
  top: 3.125em;
  left: 1.875em;
  display: flex;
  align-items: center;
  img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
  }
  .title {
    font-weight: 700;
    margin-left: 1em;
    padding-bottom: 0.313em;
    color: #fff;
    font-size: 1em;
  }
  .title2 {
    font-weight: 300;
    margin-left: 1.250em;
    padding-bottom: 0.313em;
    color: #fff;
    font-size: 0.875em;
  }
  p {
    font-size: 0.75em;
    margin-left: 1.50em;
    color: #e4e4e4;
    font-weight: 700;
    color: #fbc41c;
    letter-spacing: 0.025em;
  }
}
.menu-items {
  margin: 0em;

  ion-icon {
    margin-right: 1.250em;
    color: #86979f;
  }
  ion-item {
    padding-left: 0.625em;
    margin-bottom: 0.313em;
    color: #86979f;
    ion-label {
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
      letter-spacing: 0.031em;
    }
  }
  .active {
    color: var(--ion-color-primary);
    ion-label {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
      letter-spacing: 0.031em;
    }
    ion-icon {
      color: var(--ion-color-primary);
      font-weight: 700;
    }
  }
}
.second-menu-items {
  margin: 0;
  ion-item {
    padding-left: 0.625em;
    margin-bottom: 0.188em;
    color: #86979f;
    ion-label {
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
      letter-spacing: 0.031em;
    }
  }
  .active {
    color: var(--ion-color-primary);
    ion-label {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875em;
      letter-spacing: 0.031em;
    }
  }
}
