<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class='avatar' src='{{currentUser.image == "" ? fsService.blankImage : currentUser.image}}' alt=''>
  <h5 class='fullName'>{{currentUser.fullname}}</h5>
  <p class='userId'>{{currentUser.username}}</p>
  <p class='school'>{{currentUser.school}} | {{currentUser.course}}</p>         <!-- Include school -->
  <p class='description'>{{currentUser.description}}</p>    <!-- Include description -->
  
  <hr />                                                    
    
    <div>                                                     <!-- Include links for social media -->
      <div class="horizontal">
        <p class="font-size-16">Links for Social Media</p>
      </div>
      <div class="horizontal">
        <div class="social-icons" (click)="socialMedia('FACEBOOK')" *ngIf="currentUser.socialPlatform[0]">   <!-- ngIf for social media -->
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div class="social-icons" (click)="socialMedia('INSTAGRAM')" *ngIf="currentUser.socialPlatform[1]">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <div class="social-icons" (click)="socialMedia('TWITTER')" *ngIf="currentUser.socialPlatform[2]">
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
  <!-- <div class="social-icons" (click)="socialMedia('YOUTUBE')">
          <ion-icon name="logo-youtube"></ion-icon>
        </div> -->
      </div>
    </div>

  <!-- </ion-content> -->
  <ion-grid class='profile-buttons'>
    <ion-row> 
      <ion-col col-6>
        <ion-button class='edit-profile' expand='block' fill='outline' [routerLink]='["/edit-profile"]'>Edit Profile</ion-button>
      </ion-col>
      <ion-col col-6 *ngIf='currentUser.role == 1'>     <!-- Include reviews in buyer profile -->
        <ion-button class='buyer-review' expand='block' fill='outline' [routerLink]='["/buyer-details", currentUser.email]'>Reviews</ion-button>
      </ion-col>
      <ion-col col-6 *ngIf='currentUser.role == 2 || currentUser.role == 3'>
        <ion-button class='sale-statistics' expand='block' [routerLink]='["/sale-statistics", currentUser.email]'>Sales Statistics</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button fill='clear' size='small' class='change-password' (click)='changePasswordAlert()' *ngIf="currentUser.providerId == 'password'">Change Password
  </ion-button>

  <!--Add Product Button, only the seller can see the button-->
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink] = "['/add-product']" *ngIf="currentUser.role == 2 || currentUser.role == 3">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->


  <!--Ion Segment-->
  <ion-segment (ionChange)="segmentChanged($event)" value='{{segment}}' scrollable='true'>
    <ion-segment-button value="inventory" layout='icon-start' *ngIf="currentUser.role == 2 || currentUser.role == 3">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sales" layout='icon-start' *ngIf="currentUser.role == 2 || currentUser.role == 3">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="purchases" layout='icon-start'  *ngIf="currentUser.role == 1 || currentUser.role == 3">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Purchases</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites" layout='icon-start' *ngIf="currentUser.role == 1 || currentUser.role == 3">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="reviews" layout='icon-start' *ngIf="currentUser.role == 1 || currentUser.role == 3">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Reviews</ion-label>
    </ion-segment-button> -->
  </ion-segment>

  <!--Inventory-->
  <div class='animate__animated animate__slideInUp' *ngIf="segment === 'inventory' && (currentUser.role == 2 || currentUser.role == 3)">
    <ion-grid>
      <ion-row>
        <ion-col size='6' *ngFor="let product of products">
          <ion-card class='inventory-products'  [routerLink] = '["/edit-product", product.id]'>
            <!--<ion-button size='small' fill='clear' class='edit-pen'>
              <ion-icon slot='icon-only' name="pencil"></ion-icon>
            </ion-button>-->
            <img src='{{product.images[0]}}' alt=''>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon name="star" *ngIf='product.specialevent == true'></ion-icon>
                {{product.name}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{product.qty}} Left <br>
              S${{product.price}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="products != null && products.length == 0">
        <ion-col size='12' class="empty">
          No inventory items found.
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--Sales-->
  <div *ngIf='segment === "sales" && (currentUser.role == 2 || currentUser.role == 3)'>
    <form [formGroup]="salesForm">
    <ion-grid>
      <ion-row>
        <ion-col size='7'>
          <ion-searchbar placeholder='Search' formControlName="search"></ion-searchbar>
        </ion-col>
        <ion-col size='5'>
          <ion-button class='filter'>
            <ion-icon name="filter-outline"></ion-icon>
            <ion-select interface="popover" placeholder="Filter" value='Reserved' formControlName='filter' (ionChange)="onFilterChangeSales($event)">
              <ion-select-option value="Reserved">Reserved</ion-select-option>
              <ion-select-option value="Confirmed">Confirmed</ion-select-option>
              <ion-select-option value="In-Transit">In-Transit</ion-select-option>
              <ion-select-option value="Completed">Completed</ion-select-option>
              <ion-select-option value="Rejected">Rejected</ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="sales != null && salesF.length == 0">
        <ion-col size='12' class="empty">
          No {{salesForm.value.filter}} items found.
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class='comment animate__animated animate__slideInUp' *ngFor="let sale of salesF" [routerLink]='["", sale.id ]'>
      <ion-item lines='none'>
        <ion-avatar slot='start'>
          <img src='{{sale.image}}' alt=''>
        </ion-avatar>
        <ion-label>
          <div class="title">{{sale.name}}</div>
          <div class="title2">S$ {{sale.price}}</div>
        </ion-label>
        <ion-button size='small' fill='clear' class='order-purchases' [routerLink]='["/order-details", sale.id ]'>
          <ion-icon slot='icon-only' name="document-text-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='chat-purchases' [routerLink]='["/chat-details", sale.productId+sale.buyer ]'>
          <ion-icon slot='icon-only' name="chatbox-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-grid class='product-details'>
        <ion-row>
          <ion-col class='quantity' size='5'>
            Order ID
          </ion-col>
          <ion-col size='7'>
            {{sale.id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='quantity' size='5'>
            Quantity
          </ion-col>
          <ion-col size='7'>
            {{sale.qty}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='collection' size='5'>
            Delivery Mode
          </ion-col>
          <ion-col size='7'>
            {{sale.deliveryMode}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='order-date' size='5'>
            Grand Total
          </ion-col>
          <ion-col size='7'>
            S$ {{sale.price * sale.qty}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='order-date' size='5'>
            Order Date
          </ion-col>
          <ion-col size='7'>
            {{sale.orderDate.toDate() | date:'dd MMM yyyy, h:mm:ss a'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='12'>
            <ion-button size='small' fill='clear' class='delete' (click)="rejectOrder(sale.id, sale.productId, sale.qty, sale.buyer)" *ngIf="salesForm.value.filter == 'Reserved'">
              Reject
            </ion-button>
            <ion-button size='small' fill='clear' class='accept' (click)="acceptOrder(sale.id, sale.productId, sale.buyer)" *ngIf="salesForm.value.filter == 'Reserved'">
             Accept
            </ion-button>
            <ion-button size='small' fill='clear' class='transit' (click)="sendOrder(sale.id, sale.productId, sale.buyer)" *ngIf="salesForm.value.filter == 'Confirmed'">
              Mark as Sent
            </ion-button>
            <ion-button size='small' fill='clear' class='transit' [routerLink]='["/add-review-buyer", sale.buyer, sale.buyer_un, sale.id, sale.productId]' *ngIf="salesForm.value.filter == 'Completed'">
              Review Buyer                 <!-- Reviewing buyer account if the transaction is completed -->
            </ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    </form>
  </div>

  <!--Purchases-->
  <div *ngIf='segment === "purchases" && (currentUser.role == 1 || currentUser.role == 3)'>
    <form [formGroup]="purchasesForm">
    <ion-grid>
      <ion-row>
        <ion-col size='7'>
          <ion-searchbar placeholder='Search' formControlName='search'></ion-searchbar>
        </ion-col>
        <ion-col size='5'>
          <ion-button class='filter'>
            <ion-icon name="filter-outline"></ion-icon>
            <ion-select interface="popover" placeholder="Filter" value='Reserved' formControlName='filter' (ionChange)="onFilterChangePurchases($event)">
              <ion-select-option value="Reserved"> Reserved</ion-select-option>
              <ion-select-option value="Confirmed">Confirmed</ion-select-option>
              <ion-select-option value="In-Transit">In-Transit</ion-select-option>
              <ion-select-option value="Completed">Completed</ion-select-option>
              <ion-select-option value="Rejected">Rejected</ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="purchasesF != null && purchasesF.length == 0">
        <ion-col size='12' class="empty">
          No {{purchasesForm.value.filter}} items found.
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class='comment animate__animated animate__slideInUp'  *ngFor="let purchase of purchasesF" >
      <ion-item lines='none'>
        <ion-avatar slot='start'>
          <img src='{{purchase.image}}' alt=''>
        </ion-avatar>
        <ion-label>
          <div class="title">{{purchase.name}}</div>
          <div class="title2">S$ {{purchase.price}}</div>
        </ion-label>
        <ion-button size='small' fill='clear' class='order-purchases' [routerLink]='["/order-details", purchase.id ]'>
          <ion-icon slot='icon-only' name="document-text-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='chat-purchases' [routerLink]='["/chat-details", purchase.productId+purchase.buyer ]'>
          <ion-icon slot='icon-only' name="chatbox-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-grid class='product-details'>
        <ion-row>
          <ion-col class='quantity' size='5'>
            Order ID
          </ion-col>
          <ion-col size='7'>
            {{purchase.id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='quantity' size='5'>
            Quantity
          </ion-col>
          <ion-col size='7'>
            {{purchase.qty}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='collection' size='5'>
            Delivery Mode
          </ion-col>
          <ion-col size='7'>
            {{purchase.deliveryMode}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='order-date' size='5'>
            Grand Total
          </ion-col>
          <ion-col size='7'>
            S$ {{purchase.price * purchase.qty}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='order-date' size='5'>
            Order Date
          </ion-col>
          <ion-col size='7'>
            {{purchase.orderDate.toDate() | date:'dd MMM yyyy, h:mm:ss a'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='12'>
            <ion-button size='small' fill='clear' class='transit' (click)="receivedOrder(purchase.id, purchase.productId, purchase.seller)" *ngIf="purchasesForm.value.filter == 'In-Transit'">
              Mark as Received
            </ion-button>
            <ion-button size='small' fill='clear' class='transit' [routerLink]='["/add-review", purchase.seller, purchase.seller_un, purchase.id, purchase.productId]' *ngIf="purchasesForm.value.filter == 'Completed'">
              Review Seller                   <!-- Reviewing seller account if the transaction is completed -->
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    </form>
  </div>

  <!--Favourites-->
  <div class='animate__animated animate__slideInUp' *ngIf="segment === 'favorites' && (currentUser.role == 1 || currentUser.role == 3)">
    <ion-grid>
      <ion-row>
        <ion-col size='6' *ngFor="let product of myFavourites; let id = index">
          <ion-button size='small' fill='clear' class='liked' (click)='unfavouriteProduct(id)' *ngIf="currentUser.role == 1 || currentUser.role == 3">
            <ion-icon slot='icon-only' name="heart"></ion-icon>
          </ion-button>
          <ion-card class='favourite-products' [routerLink]="['/product-details', product.id]">
            <img src='{{product.images[0]}}' alt=''>
            <ion-card-header>
              <ion-card-subtitle>{{product.name}}
                <ion-icon name="star" *ngIf='product.specialevent == true'></ion-icon>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              S$ {{product.price}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="myFavourites != null && myFavourites.length == 0">
        <ion-col size='12' class="empty">
          No favourite items found.
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
