<ion-header>
  <ion-toolbar>
    <ion-title>Manage Special Event</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src='../assets/special event.png' alt=''>
  <form [formGroup]="eventForm">
  <ion-item class='special-event'>
    <ion-label position="floating">Special Event</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>

  <ion-item lines='none' class='toggle'>
    <ion-toggle formControlName="active"></ion-toggle>
  </ion-item>

  <ion-button class='submit' expand='block' (click)="updateEvent()">Save</ion-button>
  </form>
</ion-content>