<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button style='color: white;' menu='main-menu'></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src='assets/welcome.png' alt='' width=100%; height=199; style='margin: auto'>
  <h3>Let's Get Started</h3>
  <h5>Create a new account</h5>
  <form [formGroup]="registerForm">
  <div>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirm" type="password"></ion-input>
    </ion-item>
  </div>
  <ion-button class='btn-next' expand='block' (click)="register()">Next</ion-button>
  <div>
    <ion-grid class='moveToRight'>
      <ion-row>
		<p class="right-row"><ion-button fill='clear' size='small' class='btn-login' [routerLink] = '["/login"]'>Already have an account? Login</ion-button></p>
      </ion-row>
    </ion-grid>
  </div>
  
  <p class='or'>OR</p>
  <ion-button class='google-button' expand='block' (click)='googleSignIn()'><img class='google-icon' src='assets/google.svg'>&nbsp;&nbsp;&nbsp;&nbsp;Sign in with
    Google</ion-button>
  <br><br><br>
  </form>
</ion-content>