@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

ion-toolbar {
  --background: var(--ion-color-primary);
  box-shadow: 0em 0.45em 1em rgba(40, 59, 122, 0.302);
  color: white;
}
ion-content {
  h3 {
    align-content: center;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  h5 {
    align-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
  }
  ion-item {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    border-style: "solid";
    --background: #eeee;
    ion-label {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
    }
    ion-input {
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
    }
  }
  .moveToRight {
    position: relative;
    right: 0;
    margin-right: 0.8rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .message {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    margin-right: 5.6rem;
    margin-top: 0.6rem;
    display: inline-block;
    vertical-align: middle;
  }
  .btn-register,
  .forgot-password {
    text-transform: none;
    font-weight: 600;
  }
  .btn-login {
    text-transform: none;
    margin-top: 4rem;
    height: 1em;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0em 0.45em 1em rgba(40, 59, 122, 0.302);
  }
  .alert {
    --background: #e5e5e5;
  }
}
