<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login as Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src='assets/login.png' alt='' width=276; height=206; style='margin-left: 5rem;'>
  <h3>Welcome Back!!</h3>
  <h5>Sign in to Continue as an Admin</h5>
  <div>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-grid class='moveToRight'>
      <ion-row>
        <ion-col style='text-align: right;'>
          <ion-button class='forgot-password' size='small' fill='clear' (click)='presentAlertPrompt()'>Forgot Password?
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button class='btn-login' expand='block'>Login</ion-button>
</ion-content>