<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style='color: white;' menu='main-menu'></ion-menu-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='content'>
<!--  <h1>La Lumiere is bringing light to the e-commerce era</h1>-->
<!--  <img src='../assets/about-ecommerce.jpg' alt=''>-->
<!--  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will-->
<!--    give you a complete account of the system.-->

<!--    and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one-->
<!--    rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do.</p>-->
<!--  <br>-->

  <h5>About Us</h5>
  <h1>What is La Lumiere?</h1>
  <img src='../assets/team.jpg' alt=''>
  <p>La Lumiere is a platform that serves as a launchpad for our students to launch their ideas under less intense environment and create a conducive business environment for students to communicate their ideas freely. Students will be able to venture into the world of e-commerce and receive feedback from their target consumers, before eventually stepping into the broader marketplace such as Lazada, Shopee and other significant players. The platform will bring revolutionary change to the school image, which is a place that nurtures entrepreneurs, not just diploma and degree holders. Furthermore, this platform is more secured as students’ detail will be tracked, and it will be difficult for cases like scams and fraud to occur. .</p>
  <br>
  <h5>Developers</h5>
  <p class='diploma'>Diploma in Information Technology</p>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-card>
          <img src='assets/lucas.jpg' alt=''>

          <ion-card-header>
            <ion-card-subtitle>Lucas Sng Wei Jun</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lead Developer
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          <img src='assets/jack.png' alt=''>
          <ion-card-header>
            <ion-card-subtitle>Thant Htoo Aung</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lead Designer
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          <img src='assets/matthew.png' alt=''>
          <ion-card-header>
            <ion-card-subtitle>Matthew Ng De En</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Developer
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          <img src='assets/zekai.png' alt=''>
          <ion-card-header>
            <ion-card-subtitle>Wu Zekai</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Developer
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>