ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
  ion-title {
    --color: #fbc41c;
    font-weight: 600;
    font-size: 1.125em;
  }
}
.filter {
  --color: var(--ion-color-primary);
  --background: white;
  text-transform: none;
  position:absolute;
  right: 0.625em;
  border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
  margin:0;
}
.new {
    top:0;
    right: 0;
	  height: 0.438em;
	  width: 0.438em;
	  border-radius: 50%;
    position: absolute;
	  background-color: #fbc41c;
    }
.filterblue {
  --background: var(--ion-color-primary);
  --color: white;
  text-transform: none;
  position:absolute;
  right: 0.625em;
  border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
  margin:0;
}

.filterblue2 {
  --background: var(--ion-color-primary);
  --color: white;
  text-transform: none;
  border-radius: 0.938em;
  --box-shadow: 0em 1.125em 2.5em rgba(0, 0, 0, 0.051);
  margin:0;
}

.admin-greeting {
  margin-left: 1.250em;
  font-size: 1em;
  font-weight: 600;
}
.admin-welcome {
  margin-left: 1.250em;
  font-size: 1.875em;
  font-weight: bold;
  color: var(--ion-color-primary);
}
.sales-card {
  margin: 1.250em;
  padding: 0.625em;
  --background: var(--ion-color-primary);
  border-radius: 1.250em;
  box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
  ion-card-header {
    font-weight: 600;
    font-size: 1.563em;
    color: white;
    vertical-align: center;
  }
  ion-card-subtitle {
    font-weight: 600;
    font-size: 1.250em;
    color: #fbc41c;
    margin-left: 0.938em;
  }
  ion-card-content {
    margin: 1.250em;
    border-radius: 1.250em;
    background-color: white;
  }
}
.product {
  margin: 1.250em;
  padding: 0.625em;
  border-radius: 1.250em;
  box-shadow: 0em 1.250em 2.5em rgba(29, 31, 38, 0.2);

  ion-card-subtitle {
    padding-left: 0.625em;
    padding-top: 0.625em;
  }
  ion-card-title {
    color: var(--ion-color-primary);
    font-size: 1.875em;
    padding: 0.625em;
  }
  ion-progress-bar {
    --progress-background: #fbc41c;
    margin-left: 0.625em;
    margin-right: 0.625em;
    width: 90%;
  }
  .manage-products {
    text-transform: none;
  }
}
.users {
  margin: 1.250em;
  padding-bottom: 0.625em;
  border-radius: 1.250em;
  box-shadow: 0em 1.250em 2.5em rgba(29, 31, 38, 0.2);
  ion-card-header {
    font-weight: 600;
    margin: 0.625em;
    font-size: 1.563em;
    color: var(--ion-color-primary);
  }
  ion-card-subtitle {
    padding-left: 0.625em;
    padding-top: 0.625em;
  }
  ion-card-title {
    color: var(--ion-color-primary);
    font-size: 1.875em;
    padding: 0.625em;
  }
  ion-progress-bar {
    --progress-background: #fbc41c;
    margin-left: 0.625em;
    margin-right: 0.625em;
    width: 90%;
  }
  .manage-users {
    text-transform: none;
  }
  .user-stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.625em;
  }
}
ion-list {
  margin: 0.625em;
}
ion-item {
  ion-label {
    color: var(--ion-color-primary);
    font-family: "Montserrat", sans-serif;
  }
  ion-icon {
    color: var(--ion-color-primary);
  }
}
