ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
  ion-title {
    font-weight: 600;
  }
}
ion-content {
  .liked {
    margin: 0.938em;
    right: 0;
    color: var(--ion-color-primary);
    position: absolute;
    z-index: 99;
  }
  .like {
    margin: 0.938em;
    right: 0;
    color: #a7a7a7;
    position: absolute;
    z-index: 99;
  }
  ion-card {
    position: relative;
    border-radius: 0.625em;
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);

    ion-card-subtitle {
      font-weight: 700;
      font-size: 1em;
      color: var(--ion-color-primary);
    }
    ion-card-content {
      font-weight: 500;
    }
    
  }
}

ion-fab {
  margin: 1.250em;
}
