<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value='ads'>
    <ion-segment-button value="ads">
      <ion-label>Advertisement</ion-label>
    </ion-segment-button>
    <ion-segment-button value='featured'>
      <ion-label>Featured Products</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'ads'">
    <ion-grid>
      <form [formGroup]="adsForm">
        <ion-row>
          <ion-col size='6'>
            <ion-searchbar placeholder='Search' formControlName="search"></ion-searchbar>
          </ion-col>
          <ion-col size='6'>
            <ion-button class='filter'>
              <ion-icon name="filter-outline"></ion-icon>
              <ion-select interface="popover" placeholder="Filter" value='P' formControlName="filter" (ionChange)="onFilterChangeAds($event)">
                <ion-select-option value="P">Pending</ion-select-option>
                <ion-select-option value="A">Approved</ion-select-option>
                <ion-select-option value="R">Rejected</ion-select-option>
              </ion-select>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row *ngIf="adsF != null && adsF.length == 0">
        <ion-col size='12' class="empty">
          No {{adsForm.value.filter == "P" ? "pending" : adsForm.value.filter == "A" ? "approved": "rejected"}} advertisements found.
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class='animate__animated animate__slideInUp' *ngFor="let a of adsF">
      <ion-item lines='none'>
        <ion-avatar slot='start'>
          <img src='{{a.image}}' alt=''>
        </ion-avatar>

        <ion-card-content>
          <ion-label>
            <div class="title1">{{a.type == 1 ? "Event Ads" : "Seller Page Ads"}}</div>
          </ion-label>
          <ion-card-subtitle class='timing'>{{a.requestDate.toDate() | date:'dd MMM yyyy, h:mm a'}}</ion-card-subtitle>
        </ion-card-content>

        <ion-button size='small' fill='clear' class='delete' [routerLink]='["/chat-details", "admin"+a.requester]'>
          <ion-icon slot='icon-only' name="chatbox-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='accept' [routerLink]='["/edit-ads", a.id]'>
          <ion-icon slot='icon-only' name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='ignore' (click)='approveAds(a.id, a.requester, a.requester_un)' *ngIf='a.status=="P"'>
          Approve
        </ion-button>
        <ion-button size='small' fill='clear' class='ignore2' (click)='rejectAds(a.id,  a.requester, a.requester_un)' *ngIf='a.status=="P"'>
          Reject
        </ion-button>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="segment === 'featured'">
    <ion-grid>
      <form [formGroup]="featureForm">
        <ion-row>
          <ion-col size='6'>
            <ion-searchbar placeholder='Search' formControlName="search"></ion-searchbar>
          </ion-col>
          <ion-col size='6'>
            <ion-button class='filter'>
              <ion-icon name="filter-outline"></ion-icon>
              <ion-select interface="popover" placeholder="Filter" value='P' formControlName="filter" (ionChange)="onFilterChangeFeatured($event)">
                <ion-select-option value="P">Pending</ion-select-option>
                <ion-select-option value="A">Approved</ion-select-option>
                <ion-select-option value="R">Rejected</ion-select-option>
              </ion-select>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row *ngIf="featuredF != null && featuredF.length == 0">
        <ion-col size='12' class="empty">
          No {{featureForm.value.filter == "P" ? "pending" : featureForm.value.filter == "A" ? "approved": "rejected"}} featured requests found.
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class='animate__animated animate__slideInUp' *ngFor="let a of featuredF">
      <ion-item lines='none'>
        <ion-avatar slot='start'>
          <img src='{{a.image}}' alt=''>
        </ion-avatar>

        <ion-card-content>
          <ion-label>
            <div class="title1">{{a.productName}}</div>
            <div class="title2">{{a.requester_un}}</div>
            <div class="title2">{{a.paymentMode}}</div>
          </ion-label>
          <ion-card-subtitle class='timing'>{{a.requestDate.toDate() | date:'dd MMM yyyy, h:mm a'}}</ion-card-subtitle>
        </ion-card-content>

        <ion-button size='small' fill='clear' class='delete' [routerLink]='["/chat-details", "admin"+a.requester]'>
          <ion-icon slot='icon-only' name="chatbox-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='accept' [routerLink]='["/product-details", a.productId]'>
          <ion-icon slot='icon-only' name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button size='small' fill='clear' class='ignore' (click)='approveF(a.id, a.productId, a.requester, a.requester_un)' *ngIf='a.status=="P"'>
          Approve
        </ion-button>
        <ion-button size='small' fill='clear' class='ignore2' (click)='rejectF(a.id, a.productId, a.requester, a.requester_un)' *ngIf='a.status=="P"'>
          Reject
        </ion-button>
      </ion-item>
    </ion-card>
  </div>

</ion-content>