<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Leave Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class='user-details' lines='none'>
    <ion-thumbnail slot='start'>
      <img class='avatar' src='{{seller_profilepic == "" ? fsService.blankImage : seller_profilepic}}' alt=''>
    </ion-thumbnail>
    <ion-label>
      <h2>{{seller_un}}</h2>
      <p>{{orderid}}</p>
    </ion-label>
  </ion-item>
  <div>
    <ion-grid class='rating'>
      <ion-row>
        <ion-col size="4" class="rating-label">
          Rating
        </ion-col>
        <ion-col size="8">
          <span class=''>
            <span [ngClass]="(rating < 1)?'star-not-filled':'star'" (click)="setRating(1)">
              <ion-icon name="star"></ion-icon>
            </span>
            <span [ngClass]="(rating < 2)?'star-not-filled':'star'" (click)="setRating(2)">
              <ion-icon name="star"></ion-icon>
            </span>
            <span [ngClass]="(rating < 3)?'star-not-filled':'star'" (click)="setRating(3)">
              <ion-icon name="star"></ion-icon>
            </span>
            <span [ngClass]="(rating < 4)?'star-not-filled':'star'" (click)="setRating(4)">
              <ion-icon name="star"></ion-icon>
            </span>
            <span [ngClass]="(rating < 5)?'star-not-filled':'star'" (click)="setRating(5)">
              <ion-icon name="star"></ion-icon>
            </span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>

  <form [formGroup]="reviewForm">
  <ion-item class='message'>
    <ion-label position='floating'>Message</ion-label>
    <ion-textarea rows='10' inputmode="text" formControlName="msg" [disabled]="this.reviewed"></ion-textarea>
  </ion-item>

  <ion-button class='submit' expand='block' [disabled]="this.reviewed" (click)="addReview()">Submit</ion-button>
  </form>

</ion-content>